@charset "UTF-8";
:root {
  --primari-bg-color: #ffffff;
  --bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-color-title: #ffffff;
  --white-text-color: #ffffff;
  --primari-border-color: #eeeeee;
  --primari-border-overlay: rgba(33, 150, 243, 0.9);
  /* logo */
  --white-logo-color: #ffffff;
  --black-logo-color: #000000;
  --accent-logo-color: #2196f3;
  /* btn */
  --accent-btn-color: #2196f3;
  --white-btn-color: #ffffff;
  --title-btn-color: #212121;
  --bg-btn-color: #f5f4fa;
  /* social link */
  --white-social-color: #ffffff;
  --primari-social-color: #afb1b8;
  --white10-social-color: rgba(255, 255, 255, 0.1);
  /* modal */
  --modal-border-color: rgba(33, 33, 33, 0.2);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--primari-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primari-bg-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

textarea {
  resize: none;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .box-string {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .box-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .box-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* logo */
.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-logo-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@media screen and (max-width: 1139px) {
  .logo {
    font-size: 24px;
  }
}

.logo__color {
  color: var(--black-logo-color);
}

.logo__color2 {
  color: var(--white-logo-color);
}

.section-titel {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (max-width: 1139px) {
  .section-titel {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.titel-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  border: none;
  right: 0px;
  background-color: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 4;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;
}

.menu-button:hover, .menu-button:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-cross,
.icon-menu {
  fill: currentColor;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
    background-color: #ffffff;
    z-index: 9;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: var(--primari-bg-color);
}

.site-nav__item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .site-nav__item {
    margin-left: 40px;
    margin-bottom: 32px;
  }
  .site-nav__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:nth-child(1)) {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item--current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    content: '';
    border-radius: 2px;
  }
}

.site-nav__link {
  display: block;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primari-text-color);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  /*  Задаём значения перехода  */
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-text-color);
}

.site-nav__link--current {
  color: var(--accent-text-color);
}

.contacts-nav {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contacts-nav {
    margin-top: 302px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1140px) {
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1140px) {
  .contacts-nav__item:not(:nth-child(1)) {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1139px) {
  .contacts-nav__item:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-nav__item:not(:nth-child(1)) {
    margin-bottom: 32px;
  }
  .contacts-nav__item:nth-child(1) {
    margin-bottom: 0px;
  }
}

.contacts-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primari-text-color);
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  /*  Задаём значения перехода  */
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1140px) {
  .contacts-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-nav__link:hover, .contacts-nav__link:focus {
  color: var(--accent-text-color);
}

.contacts-nav__icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .contacts-nav__icon-smartphone {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts-nav__mobile-font-smartphone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
  }
  .contacts-nav__mobile-font-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primari-text-color);
  }
}

.studio-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  margin-top: 64px;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .studio-social-link {
    display: none;
  }
}

.studio-social-link__item:nth-child(1) {
  padding-right: 10px;
}

.studio-social-link__item:not(:nth-child(1)) {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}

.studio-social-link__link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bg-color);
}

@media screen and (max-width: 1139px) {
  .logo-footer {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1139px) {
  .footer-mobile-adres {
    text-align: center;
  }
}

.adress-list__link {
  font-style: normal;
  line-height: 1.7;
  color: var(--white-text-color);
  opacity: 0.6;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  /*  Задаём значения перехода  */
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list__link:hover, .adress-list__link:focus {
  opacity: 1;
}

.adress-list {
  margin-top: 20px;
}

.adress-list__item {
  margin-bottom: 9px;
}

.adress-list__item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 1140px) {
  .box-string-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .box-string-footer {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1140px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-social-titel {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .footer-social-titel {
    margin-top: 60px;
    text-align: center;
  }
}

.social-list__link--footer {
  color: var(--white-social-color);
  background-color: var(--white10-social-color);
}

.social-list__link--footer:hover, .social-list__link--footer:focus {
  background-color: var(--accent-text-color);
}

.footer-subscrip {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .footer-subscrip {
    margin-top: 60px;
    text-align: center;
  }
}

.footer-subscrip__email {
  width: 358px;
  height: 50px;
  padding: 16px 15px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--hero-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (max-width: 1139px) {
  .footer-subscrip__email {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .footer-subscrip__email {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-subscrip__icon {
  fill: currentColor;
  margin-left: 10px;
}

.footer-button {
  min-width: 200px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--white-btn-color);
  background-color: var(--accent-btn-color);
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 1139px) {
  .footer-button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet-adres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* <!-- герой --> */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-bg-color);
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-480-x1.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-480-x1.jpg");
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
}

.hero__titel {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.2;
  color: var(--hero-color-title);
  text-align: center;
  text-transform: uppercase;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-480-x2.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-480-x2.jpg");
  }
}

@media screen and (min-width: 479px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-768-x1.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-768-x1.jpg");
  }
}

@media screen and (min-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 479px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-768-x2.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-768-x2.jpg");
  }
}

@media screen and (min-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-1600-x1.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-1600-x1.jpg");
  }
}

@media screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-1600-x2.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-1600-x2.jpg");
  }
}

.hero__button {
  min-width: 200px;
  display: inline;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-btn-color);
  background-color: var(--accent-btn-color);
  cursor: pointer;
  border: none;
}

/* modal */
.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: var(--hero-color-title);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1140px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

@media screen and (max-width: 1139px) {
  .modal {
    min-height: 609px;
    min-width: 450px;
  }
}

.btn-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  color: var(--accent-btn-color);
}

.btn-close__icon {
  fill: currentColor;
}

.form-register__title {
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}

.modal-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-group__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primari-text-color);
}

.modal-group__wrapper {
  position: relative;
}

.modal-group__icon {
  position: absolute;
  top: 25%;
  left: 16px;
  fill: var(--black-logo-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-group__input {
  width: 100%;
  height: 40px;
  padding: 11px;
  padding-left: 40px;
  border: 1px solid var(--modal-border-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-group__wrapper:focus-within > .modal-group__input {
  border: 1px solid var(--accent-text-color);
}

.modal-group__wrapper:focus-within > .modal-group__icon {
  fill: var(--accent-text-color);
}

.modal-group-comment__textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.modal-group-comment {
  margin-bottom: 20px;
}

.modal-group-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.modal-group-policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-group-policy__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 2px solid var(--title-btn-color);
}

.modal-group-policy__checkbox:checked + .modal-group-policy__icon {
  border-color: transparent;
  background-color: var(--accent-btn-color);
  background-size: contain;
  background-origin: border-box;
  background-image: url("../img/full-check.svg");
}

@media screen and (max-width: 1139px) {
  .modal-group-policy__title {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

/* <!-- технологии features--> */
.features {
  padding-top: 60px;
  padding-bottom: 30px;
}

.features-list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1140px) {
  .features-list__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1139px) {
  .features-list__item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1140px) {
  .features-list__item:nth-child(4n) {
    margin-right: 0px;
  }
}

.features-list__titel {
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--title-text-color);
  text-transform: uppercase;
  text-align: left;
}

.features-list__text {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.7;
  text-align: left;
}

.features-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-color);
  margin-bottom: 30px;
}

/* <!-- примеры работ --> */
.work {
  margin-bottom: 94px;
}

@media screen and (max-width: 1140px) {
  .work {
    display: none;
  }
}

.work-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-list__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  position: relative;
}

.work-list__item:nth-child(3n) {
  margin-right: 0px;
}

.work-list__titel {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primari-bg-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* <!-- команда --> */
.comanda {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color);
}

@media screen and (max-width: 1139px) {
  .comanda {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.comanda-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comanda-card__caption {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.comanda-card__titel {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}

.comanda-card__text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.comanda-card {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .comanda-card {
    width: 354px;
    margin-top: 30px;
    margin-right: 30px;
  }
  .comanda-card:first-child {
    margin-top: 0px;
  }
  .comanda-card:nth-child(2) {
    margin-top: 0px;
  }
  .comanda-card:nth-child(even) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .comanda-card {
    width: 450px;
    margin-top: 30px;
  }
  .comanda-card:first-child {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1140px) {
  .comanda-card {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .comanda-card:nth-child(4n) {
    margin-right: 0px;
  }
}

.social-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__item:first-child {
  margin-left: auto;
}

.social-list__item:last-child {
  margin-right: auto;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  border: none;
  width: 44px;
  height: 44px;
  color: var(--primari-social-color);
  border-radius: 50%;
  background-color: var(--white-social-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  Задаём значения перехода  */
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-social-color);
}

.social-list__icon {
  fill: currentColor;
}

/* <!-- клиенты --> */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1139px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1139px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients-list__item {
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    margin-top: 30px;
  }
  .clients-list__item:nth-child(-n + 2) {
    margin-top: 0px;
  }
  .clients-list__item:nth-child(even) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    margin-top: 30px;
  }
  .clients-list__item:nth-child(-n + 3) {
    margin-top: 0px;
  }
  .clients-list__item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1140px) {
  .clients-list__item {
    margin-top: 0px;
  }
  .clients-list__item:nth-child(3n) {
    margin-right: 30px;
  }
  .clients-list__item:last-child {
    margin-right: 0px;
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  padding: 0px;
  border: 1px solid var(--primari-social-color);
  border-radius: 4px;
  color: var(--primari-social-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  Задаём значения перехода  */
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1139px) {
  .clients-list__link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list__link {
    width: 210px;
    height: 92px;
  }
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.clients-list__icon {
  fill: currentColor;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bg-color);
}

@media screen and (max-width: 1139px) {
  .logo-footer {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1139px) {
  .footer-mobile-adres {
    text-align: center;
  }
}

.adress-list__link {
  font-style: normal;
  line-height: 1.7;
  color: var(--white-text-color);
  opacity: 0.6;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  /*  Задаём значения перехода  */
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list__link:hover, .adress-list__link:focus {
  opacity: 1;
}

.adress-list {
  margin-top: 20px;
}

.adress-list__item {
  margin-bottom: 9px;
}

.adress-list__item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 1140px) {
  .box-string-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .box-string-footer {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1140px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-social-titel {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .footer-social-titel {
    margin-top: 60px;
    text-align: center;
  }
}

.social-list__link--footer {
  color: var(--white-social-color);
  background-color: var(--white10-social-color);
}

.social-list__link--footer:hover, .social-list__link--footer:focus {
  background-color: var(--accent-text-color);
}

.footer-subscrip {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .footer-subscrip {
    margin-top: 60px;
    text-align: center;
  }
}

.footer-subscrip__email {
  width: 358px;
  height: 50px;
  padding: 16px 15px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--hero-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (max-width: 1139px) {
  .footer-subscrip__email {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .footer-subscrip__email {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-subscrip__icon {
  fill: currentColor;
  margin-left: 10px;
}

.footer-button {
  min-width: 200px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--white-btn-color);
  background-color: var(--accent-btn-color);
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 1139px) {
  .footer-button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet-adres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .filter-list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .filter-list {
    margin-bottom: 30px;
  }
}

.filter-list__item {
  margin-left: 8px;
}

.filter-list__item:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 767px) {
  .filter-list__item:nth-last-child(2) {
    margin-left: 0px;
  }
  .filter-list__item:nth-last-child(-n + 2) {
    margin-top: 15px;
  }
}

.filter-list__btn {
  display: inline;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--title-btn-color);
  background-color: var(--bg-btn-color);
  cursor: pointer;
  border: none;
  /*  Задаём значения перехода  */
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__btn:hover, .filter-list__btn:focus {
  color: var(--white-btn-color);
  background-color: var(--accent-btn-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 1140px) {
  .filter-card-list__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-top: 30px;
  }
  .filter-card-list__item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .filter-card-list__item {
    margin-top: 30px;
  }
  .filter-card-list__item:first-child {
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .filter-card-list__item {
    margin-top: 30px;
    margin-right: 30px;
  }
  .filter-card-list__item:nth-child(-n + 2) {
    margin-top: 0px;
  }
  .filter-card-list__item:nth-child(even) {
    margin-right: 0px;
  }
}

.product {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: var(--primari-bg-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  /*  Задаём значения перехода  */
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.product:hover .product__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primari-border-overlay);
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primari-bg-color);
}

.product__meta {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--primari-border-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--primari-border-color);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--primari-border-color);
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  text-align: left;
  margin-bottom: 4px;
}

.product__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
  text-align: left;
}
/*# sourceMappingURL=main.css.map */