/* <!-- команда --> */
.comanda {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color);
  @media screen and (max-width: ($desktop - 1)) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.comanda-list {
  flex-wrap: wrap;
}

.comanda-card__caption {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.comanda-card__titel {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}
.comanda-card__text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.comanda-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1)) {
    width: 354px;
    margin-top: 30px;
    margin-right: 30px;
    &:first-child {
      margin-top: 0px;
    }
    &:nth-child(2) {
      margin-top: 0px;
    }

    &:nth-child(even) {
      margin-right: 0px;
    }
  }
  @media screen and (max-width: ($tablet - 1)) {
    width: 450px;
    margin-top: 30px;
    &:first-child {
      margin-top: 0px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    &:nth-child(4n) {
      margin-right: 0px;
    }
  }
}

.social-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}

.social-list__item {
  margin-right: 10px;
  &:first-child {
    margin-left: auto;
  }
  &:last-child {
    margin-right: auto;
  }
}

.social-list__link {
  display: flex;
  padding: 0px;
  border: none;
  width: 44px;
  height: 44px;
  color: var(--primari-social-color);
  border-radius: 50%;
  background-color: var(--white-social-color);
  justify-content: center;
  align-items: center;

  /*  Задаём значения перехода  */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    color: var(--white-social-color);
  }
}

.social-list__icon {
  fill: currentColor;
}
