.menu-button {
  display: inline-flex;
  // margin: 0;
  padding: 0;
  border: none;
  right: 0px;
  background-color: transparent;
  justify-content: space-between;
  // justify-content: center;
  // align-items: center;
  z-index: 4;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.icon-cross,
.icon-menu {
  fill: currentColor;
}
.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  @media screen and (max-width: ($tablet - 1)) {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
      background-color: #ffffff;
      z-index: 9;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: var(--primari-bg-color);
}

.site-nav__item {
  position: relative;
  @media screen and (max-width: ($tablet - 1)) {
    margin-left: 40px;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: ($tablet)) {
    &:not(:nth-child(1)) {
      margin-left: 50px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .site-nav__item--current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    content: '';
    border-radius: 2px;
  }
}

.site-nav__link {
  display: block;
  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  font-weight: 500;
  line-height: 1.2;
  color: var(--primari-text-color);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration-line: none;
  @media screen and (max-width: ($tablet - 1)) {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
  }

  /*  Задаём значения перехода  */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.site-nav__link--current {
  color: var(--accent-text-color);
}

.contacts-nav {
  // padding-top: 21px;
  // padding-bottom: 21px;
  @media screen and (max-width: ($tablet - 1)) {
    margin-top: 302px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-left: 40px;
  }

  margin-left: auto;
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: $desktop) {
  .contacts-nav__item:not(:nth-child(1)) {
    margin-left: 50px;
  }
}

@media screen and (max-width: ($desktop - 1)) {
  .contacts-nav__item:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: ($tablet - 1)) {
  .contacts-nav__item:not(:nth-child(1)) {
    margin-bottom: 32px;
  }
  .contacts-nav__item:nth-child(1) {
    margin-bottom: 0px;
  }
}

.contacts-nav__link {
  display: flex;
  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  font-weight: 500;
  line-height: 1.2;
  color: var(--primari-text-color);
  letter-spacing: 0.02em;
  text-decoration-line: none;

  /*  Задаём значения перехода  */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.contacts-nav__icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
  @media screen and (max-width: ($tablet - 1)) {
    display: none;
  }
}

@media screen and (max-width: ($tablet - 1)) {
  .contacts-nav__mobile-font-smartphone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: var(--accent-text-color);
  }

  .contacts-nav__mobile-font-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primari-text-color);
  }
}

.studio-social-link {
  display: flex;
  margin-left: 40px;
  margin-top: 64px;
  margin-bottom: 48px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;

  color: var(--accent-text-color);

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.studio-social-link__item:nth-child(1) {
  padding-right: 10px;
}
.studio-social-link__item:not(:nth-child(1)) {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}
.studio-social-link__link {
  text-decoration-line: none;
}
