html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--primari-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primari-bg-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
textarea {
  resize: none;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}
.box-string {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.box-menu {
  @media screen and (max-width: ($tablet - 1)) {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

/* logo */
.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;

  @media screen and (max-width: ($desktop - 1)) {
    font-size: 24px;
  }
  color: var(--accent-logo-color);
  text-decoration-line: none;
  &__color {
    color: var(--black-logo-color);
  }
  &__color2 {
    color: var(--white-logo-color);
  }
}

.section-titel {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  @media screen and (max-width: ($desktop - 1)) {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.titel-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}
