:root {
  --primari-bg-color: #ffffff;
  --bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-color-title: #ffffff;
  --white-text-color: #ffffff;
  --primari-border-color: #eeeeee;
  --primari-border-overlay: rgba(33, 150, 243, 0.9);

  /* logo */
  --white-logo-color: #ffffff;
  --black-logo-color: #000000;
  --accent-logo-color: #2196f3;

  /* btn */
  --accent-btn-color: #2196f3;
  --white-btn-color: #ffffff;
  --title-btn-color: #212121;
  --bg-btn-color: #f5f4fa;
  /* social link */
  --white-social-color: #ffffff;
  --primari-social-color: #afb1b8;
  --white10-social-color: rgba(255, 255, 255, 0.1);
  /* modal */
  --modal-border-color: rgba(33, 33, 33, 0.2);
}
